html,body{padding:0; margin:0;}
body{background:#2d0f0f url(images/smashing.jpg) top center;background-repeat:no-repeat;}
.collectonme{margin:120px auto; background: red; width:50%; text-align:center; font-size:1.2em; color:#fff;}